<!DOCTYPE html>
<html>
<!-- onde.ejs 보류 -->
<head>
	<title>Naver</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/index.css' />
</head>

<body>
	<!-- top link -->
	<div class="topWrap">
		<a href="https://help.naver.com/support/contents/contents.help?serviceNo=1074&categoryNo=16719" target="_blank">네이버를 시작페이지로</a>
		<a href="https://jr.naver.com/" target="_blank">쥬니어네이버</a>
		<a href="https://happybean.naver.com/" target="_blank">해피빈</a>
	</div>
	<!-- search -->
	<div class="searchWrap">
		<div class="logo">로고</div>
		<input type="text" id="search" class="search" name="search" placeholder="검색어를 입력해주세요.">
		<button type="button" class="searchBtn" onclick="onSearch()">검색</button>
	</div>
	<!-- nav -->
	<div class="navWrap">
		<ul class="nav">
			<li class="mainNav"><a href="#">메일</a></li>
			<li class="mainNav"><a href="#">카페</a></li>
			<li class="mainNav"><a href="#">블로그</a></li>
			<li class="mainNav"><a href="#">지식IN</a></li>
			<li class="mainNav"><a href="#">쇼핑</a></li>
			<li class="mainNav"><a href="#">쇼핑LIVE</a></li>
			<li class="mainNav"><a href="#">Pay</a></li>
			<li class="mainNav"><a href="#">TV</a></li>
			<li class="sideNav"><a href="#">사전</a></li>
			<li class="sideNav"><a href="#">뉴스</a></li>
			<li class="sideNav"><a href="#">증권</a></li>
			<li class="sideNav"><a href="#">부동산</a></li>
			<li class="sideNav"><a href="#">지도</a></li>
			<li class="sideNav"><a href="#">VIBE</a></li>
			<li class="sideNav"><a href="#">책</a></li>
			<li class="sideNav"><a href="#">웹툰</a></li>
			<div class="otherNav">더보기</div>
		</ul>
		<div class="weather">여기 날씨 슬라이드</div>
	</div>
	<!-- main -->
	<div class="mainWrap">

	</div>
	<!-- footer -->
	<div class="FooterWrap">

	</div>
	<!-- dark-mode & top button -->
	<div class="fixedBtnWrap">

	</div>
</body>
	<script src="/javascripts/index.js"></script>
</html>