<!DOCTYPE html>
<html>
<head>
	<title>Title</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/index.css' />
</head>

<body>
	<div class="header"></div>
	<!-- search -->
	<div class="searchWrap">
		<input type="text" id="search" class="search" name="search" placeholder="검색어를 입력해주세요.">
		<button type="button" class="searchBtn" onclick="onSearch()">검색</button>
	</div>
</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="/javascripts/common.js"></script>
	<script src="/javascripts/index.js"></script>
</html>