<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Title</title>
</head>
<body>
    <form action="/signin" method="post">
        email
        <input type="email" name="email" class="email" >
        <!-- <input type="email" name="email" class="email" required> -->
        password
        <input type="password" name="password" class="password" >
        <!-- <input type="password" name="password" class="password" required> -->
        <button type="reset">Reset</button>
        <button type="submit">Submit</button>
    </form>
</body>
</html>