<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Document</title>
</head>
<body>
    <!-- 이메일 인증 -->
    <form accept="/find/password" method="post">
        email
        <input type="email" name="email" class="email">
        <button type="submit" class="submit">submit</button>
    </form>
</body>
</html>