<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Document</title>
</head>
<body>
    <form accept="/find/reset" method="post">
        Reset Password
        <input type="password" name="password" class="password">
        <button type="submit" class="submit">submit</button>
    </form>
</body>
</html>